body {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.logo {
	width: 40px;
	height: 50px;
	border-radius: 17px;
}

nav {
	display: inline-flex;
	justify-content: space-between;
	float: left;
	width: 99%;
	height: 50px;
	background: #ccc;
	padding: 10px;
	border-radius: 50px;
}

.nav-item {
	list-style-type: none;
}

.nav-item li {
	display: inline;
	margin: 50px;
}

header img {
	width: 700px;
	height: 690px;
	border-radius: 20px 70px;
	margin: 15px;
}

.logo1 {
	float: left;
}

.count {
	font-size: 15px;
	float: right;
	padding: 15px;
}
